<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /front/lib/dashboard/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-l
    RewriteRule . /front/lib/dashboard/index.html [L]
  </IfModule>